@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

@layer components {
  .input-default {
    @apply rounded-md bg-m-blue placeholder:text-white/50 focus:bg-[#416482] outline-none px-3 py-2 text-base text-white/90;
  }

  .input-default[type="date"] {
    color-scheme: dark;
  }
}
